<!DOCTYPE html>
<html>
  <head>
    <title>LWOT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header_bar row">
        <h1 class="grid-1"><a href="/">LWOT　I leave work on time.</a></h1>
        <% if patient_signed_in? %>
          <div class="user_nav grid-1">
            <%= link_to destroy_patient_session_path, method: :delete, class: "post" do %>
              ログアウト
            <% end %>
            <%= link_to new_nurse_session_path, class: "post" do %>
              看護師様は<br>こちら
            <% end %>
          </div>
        <% elsif nurse_signed_in? %>
          <div class="user_nav grid-1">
            <%= link_to new_patient_session_path, class: "post" do %>
              患者様は<br>こちら
            <% end %>
            <%= link_to destroy_nurse_session_path, method: :delete, class: "post" do %>
              ログアウト
            <% end %>
          </div>
        <% else %>
          <div class="user_nav grid-1">
            <%= link_to new_patient_session_path, class: "post" do %>
              患者様は<br>こちら
            <% end %>
             <%= link_to new_nurse_session_path, class: "post" do %>
              看護師様は<br>こちら
            <% end %>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright LWOT(I leave work on time) 2020.
      </p>
    </footer>
  </body>
</html>
